{% extends "base.yml.j2" %}

{% block services %}
  akhq:
    {{ build_context() | indent(4) }}
    image: tchiotludo/akhq:latest
    container_name: akhq
    ports:
      - "9091:9091"
    {{ healthcheck("curl -f http://localhost:9091/ || exit 1") | indent(4) }}
    volumes:
      - ${CONFIGS_DIR}/application.yml:/app/application.yml
      - ${APP_DATA_DIR}:/app/volumes
    networks:
      - {{ BIG_DATA_NETWORK }}
{% endblock %}