

services:
  akhq:
    build:
      context: ${BUILD_CONTEXT}
    image: tchiotludo/akhq:latest
    container_name: akhq
    ports:
      - "9091:9091"
    healthcheck:
      interval: 30s
      timeout: 10s
      retries: 5
      test: [ "CMD-SHELL", "curl -f http://localhost:9091/ || exit 1" ]
    volumes:
      - ${CONFIGS_DIR}/application.yml:/app/application.yml
      - ${APP_DATA_DIR}:/app/volumes
    networks:
      - big-data-network
networks:
  big-data-network:
    external: true