

services:
  zoonavigator:
    build:
      context: ${BUILD_CONTEXT}
    image: elkozmon/zoonavigator:latest
    container_name: zoonavigator
    ports:
      - "2180:2180"
    env_file:
      - ${ENV_SERVICE_FILE}
    environment:
      ZOOKEEPER_SERVERS: zookeeper1:2181,zookeeper2:2181,zookeeper3:2181
    healthcheck:
      interval: 30s
      timeout: 10s
      retries: 5
      test: [ "CMD-SHELL", "curl -f http://localhost:2180 || exit 1" ]
    volumes:
      - ${CONFIGS_DIR}:/app/configs
      - ${APP_DATA_DIR}:/app/volumes
    networks:
      - big-data-network
networks:
  big-data-network:
    external: true