{% macro healthcheck(command, port=None) -%}
healthcheck:
  interval: {{ HEALTHCHECK_INTERVAL }}
  timeout: {{ HEALTHCHECK_TIMEOUT }}
  retries: {{ HEALTHCHECK_RETRIES }}
  test: [ "CMD-SHELL", "{{ command }}" ]
{%- endmacro -%}

{% macro build_context() -%}
build:
  context: ${BUILD_CONTEXT}
{%- endmacro -%}

services:
{%- block services -%}{%- endblock -%}

networks:
  {{ BIG_DATA_NETWORK }}:
    external: true